# ======================
# PHP & General Back-end
# ======================
# *.log
# *.cache
# *.env
# .env.*
# .phpunit.result.cache

# ======================
# SQL Files
# ======================
*.sql
*.sqlite
*.db

# Optional: If you don’t want to version control raw DB exports

# ======================
# Custom folders (edit as needed)
# ======================

/images/attachments/
/images/photos/peme/
/images/signatures/
/hrd/photos/
/hrd/temp/
/lib/
/style/
/ui-assets/
/uploads/