* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    background-color: #234390;
    text-rendering:optimizeLegibility;
	font-family: 'Oswald', sans-serif;
    list-style: none;
    text-decoration: none;
    width: 100%;
    height: 100vh;
} 
.row {
    width: 93%;
    margin: 0 auto;
}
p, .btn {
    font-family: 'Oswald', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.container .wrapper .head-wrapper {
    background-color: #f4f4f4;
    height: 70px;
    width: 100%;
    position: relative;
}
.container .wrapper .head-wrapper img {
    margin-left: 40px;
    width: 250px;
    height: 60px;
    margin-top: 5px;
}
.head-wrapper .time {
    margin-top: 10px;
    font-size: 45px;
    font-weight: 600;
    margin-left: 700px;
}
.center {
    text-align: center;
}
.btn {
    margin: 15px 20px;
    padding: 5px;
    width: 13%;
}
.btn-full {
    background-color: #234390;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}
/* center window */
.center-window {
    padding-top: 10px;
}
.center-window-heading {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2;
}
.center-window-heading .center-window-wrap {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    height: 6.5em;
}
 .center-window-wrap .center-window-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;
}
.center-window-content p {
    color: #000;
    font-size: 150px;
    padding:0 20px 20px 0;
    text-transform: uppercase;
    margin-left: 10px;
}
.vl {
    border-left: 2px solid #fff;
    height: auto;
    color: #fff;
}

/* bottom section */
.bottom-section {
    margin-top: 30px;
    width: 100%;
    height: 370px;
    background-color: #a22c2c;
}
.prev-called, .counter-priority, .service-name  {
    color: #fff;
}
.prev-called {
    padding-left: 55px;
    padding-top: 30px;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.counter-priority {
    font-size: 120px;
}
.service-name {
    margin-top: 20px;
    font-size: 55px;
}

/* footer section */
.scroll-left {
    height: 74px;	
    overflow: hidden;
    position: relative;
    background: #fff;
    color: #000;
   }
   .scroll-left p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 20px;
    font-size: 24px;
    text-align: center;
    /* Starting position */
    transform:translateX(100%);
    /* Apply animation to this element */
    animation: scroll-left 30s linear infinite;
   }
   /* Move it (define the animation) */
   @keyframes scroll-left {
    0%   {
    transform: translateX(100%); 		
    }
    100% {
    transform: translateX(-100%); 
    }
   }